<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Train Assistant Chatbot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="background-filter"></div>
    <div class="chatbot-info">
      <div class="tts-container">
        <button id="tts-button">Toggle Speech</button>
      </div>
      <img
        class="chatbot-image"
        src="https://cdn.discordapp.com/attachments/1081249315470704761/1088863776566165626/Thomas.jpg"
      />
      <div class="chatbot-info-content">
        <h1>Thomas</h1>
        <hr />
        <br />
        <h3>Say hello to Thomas, our brand new Train Assistant Chatbot!</h3>
        <br />
        <br />

        <p>🎫</p>
        <h3>Ticket Booking</h3>
        <p>⚠️</p>
        <h3>Delays</h3>
        <p>🆘</p>
        <h3>Support</h3>
      </div>

      <div>
        <img
          class="ad-image"
          src="https://image.adsoftheworld.com/moc66eojpr7cjk2in7igrpoe4zpp"
        />
      </div>
    </div>
    <div class="chat-window">
      <main class="chat-area">
        <div class="msg left-msg">
          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">Thomas 🚂</div>
              <div class="msg-info-time"></div>
            </div>
            <div class="msg-text">Hello, I'm Thomas! How can I help you?</div>
          </div>
        </div>
      </main>
      <form class="user-input-form">
        <input
          type="text"
          class="user-input"
          id="textInput"
          placeholder="Type your message here..."
        />
        <button type="submit" class="user-input-send-btn">Send</button>
      </form>
    </div>
    <script src="static/scripts/scripts.js"></script>
  </body>
</html>
